.pinterest_logo {
    font-family: 'Recursive', sans-serif;
}

.pinterest_footer_button {
    font-size: .8rem;
}

.pinterest_header {
    text-align:center;
    margin: 2rem 0;
}

.pinterest_footer {
    text-align:center;
    margin: 2rem 0;
}