<div class="pinterest_header">

    <div>
        <h2 class="pinterest_logo">Pinterest</h2>
    </div>


    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        <span>nav4</span>
    </div>

</div>